<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RE_BL_USBMach_2._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
    <userSettings>
        <RE_BL_USBMach_2._1.Properties.Settings>
            <setting name="StepsPerX" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="StepsPerY" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="StepsPerZ" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="StepsPerA" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="StepsPerB" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="VelocityX" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="VelocityY" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="VelocityZ" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="VelocityA" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="VelocityB" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="AccelerationX" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AccelerationY" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AccelerationZ" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AccelerationA" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AccelerationB" serializeAs="String">
                <value>120</value>
            </setting>
        </RE_BL_USBMach_2._1.Properties.Settings>
    </userSettings>
</configuration>